<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Profile</title>
  <style>
    
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="date"],
    select {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #d6bfae;
      border-radius: 6px;
      background-color: #fff;
    }

    button {
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #6b4226;
      color: #fff;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    button:hover {
      background-color: #532f1b;
    }
  </style>
</head>
<body style="background-color: #f9f4ed; color: #333; font-family: sans-serif;">

  <%- include('./partials/nav') %>

  <div style="max-width: 600px; margin: 40px auto; background-color: #fff; padding: 30px; border-radius: 10px; box-shadow: 0 0 10px #ccc;">

   <h1>Edit Profil</h1>
    <form action="/profile/edit" method="POST">
      <label for="name">Nama:</label><br>
      <input type="text" name="name" id="name" value="<%= user.name %>" required><br><br>

      <label for="email">Email:</label><br>
      <input type="email" name="email" id="email" value="<%= user.Profile?.email || '' %>" required><br><br>

      <label for="phone">Nomor HP:</label><br>
      <input type="text" name="phone" id="phone" value="<%= user.Profile?.phone || '' %>"><br><br>

      <label for="birthDate">Tanggal Lahir:</label><br>
      <input type="date" name="birthDate" id="birthDate" value="<%= user.Profile?.birthDate?.toISOString().split('T')[0] || '' %>>"><br><br>

      <button type="submit">Simpan Perubahan</button>
    </form>

  </div>

</body>
</html>
