<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Product</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>List Product</h1>
    <hr>

    <table border="8">
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Stock</td>
            <td>Description</td>
            <td>Image</td>
            <td>Action</td>
        </tr>
        <% product.forEach(el => { %>
            <tr>
                <td><%= el.name %></td>
                <td><%= el.price %></td>
                <td><%= el.stock %></td>
                <td><%= el.description %></td>
                <td>
                    <img src="<%= el.imageUrl %>" alt="<%= el.imageUrl %>" height="100px" width="100px">
                </td>
                <td>
                    <button>
                        <a href="/products/<%= el.id %>">Edit</a>
                    </button>
                    <a>Delete</a>
                </td>
            </tr>
        <% }) %>
    </table>
</body>
</html>